html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);    width: 560px;
    grid-auto-rows: repeat(16, 1fr);
    width: 560px;
    height: 560px;
    border: 3px solid black;
    overflow: hidden;
    margin-top: 10px;
}

#container > div {
    border: 1px solid black;
    box-sizing: border-box;
}

#topdiv {
    position: relative;
    margin-top: 5px;
}

#wrapper {
    position: relative;
    text-align: center;
}

h1 {
    margin-top: 0px;
    margin-bottom: 1px;
}