html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);    width: 560px;
    grid-auto-rows: repeat(16, 1fr);
    width: 500px;
    height: 500px;
    border: 3px solid black;
    overflow: hidden;
    margin-top: 10px;
}

#container > div {
    border: 1px solid black;
    box-sizing: border-box;
}

#topdiv {
    position: relative;
    margin-top: 10px;
}

#wrapper {
    position: relative;
    text-align: center;
}

h1 {
    margin-top: 0px;
    margin-bottom: -10px;
    font-family: Londrina Sketch, serif;
    font-style: normal;
    font-size: 400%;
}

.gridbtn, .colorbtn, .resetbtn {
    font-family: Londrina Sketch, serif;
    font-size: 180%;
    font-weight: bolder;
    margin-right: 3px;
}
